* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #DEE2FF;
    margin: 0px;
}

header {
    margin-top: 20px;
    text-align: center;
    color: #757F91;
    font-size: 40px;
}

.picme {
    margin: 0px 130px 50px 170px;
    width: 350px;
    border-radius: 550px;
    float: left;
}

.name {
    padding: 10px 150px 0px 150px;
    margin-top: 50px;
    font-size: 25px;
    font-family: '標楷體';
}

.about {
    padding: 0px 150px 10px 150px;
    font-size: 20px;
    line-height: 32px;
    font-family: '標楷體';
}

.piccon {
    width: 40px;
    height: 40px;
}

.white {
    width: 10px;
    height: 40px;
    opacity: 0;
}

.ex {
    background-color: #F7DFE9;
    margin: 10px 130px;
    padding: 50px 150px;
    border-radius: 20px;
    height: 1000px;
    clear: both;
    text-align: center;
    font-size: 30px;
    font-family: '標楷體';
}

.extext1 {
    height: 500px;
    width: 1000px;
    padding-top: 150px;
    padding-left: 430px;
    font-size: 22px;
    font-family: '標楷體';
    text-align: left;
    line-height: 40px;
}

.piccookie {
    position: relative;
    float: left;
    width: 350px;
    border-radius: 20px;
}

.extext2 {
    height: 300px;
    width: 1000px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 490px;
    font-size: 22px;
    font-family: '標楷體';
    text-align: left;
    line-height: 40px;
}

.picclean {
    clear: left;
    float: right;
    width: 400px;
    border-radius: 20px;
}

.skill {
    background-color: #D4C5D4;
    margin: 10px 130px;
    padding: 50px 150px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

.titskill {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.sk {
    float: left;
    padding-right: 600px;
}

.detial {
    float: right;
    padding-left: 150px;
}

.line {
    height: 20px;
    width: auto;
    border-radius: 20px;
    border: 1px #6A7384 solid;
}

.de1 {
    height: 20px;
    width: auto;
    background: linear-gradient(90deg, #ADADC1 80%, transparent 80%);
    border-radius: 20px;
}

.de2 {
    height: 20px;
    width: auto;
    background: linear-gradient(90deg, #ADADC1 70%, transparent 70%);
    border-radius: 20px;
}

.de3 {
    height: 20px;
    width: auto;
    background: linear-gradient(90deg, #ADADC1 65%, transparent 65%);
    border-radius: 20px;
}

.de4 {
    height: 20px;
    width: auto;
    background: linear-gradient(90deg, #ADADC1 50%, transparent 50%);
    border-radius: 20px;
}

.educate {
    background-color: #DDCAD5;
    margin: 10px 130px;
    padding: 50px 150px;
    border-radius: 20px;
    align-items: center;
    font-size: 22px;
    font-family: '標楷體';
}

.school {
    text-align: center;
    font-size: 30px;
    font-family: '標楷體';
}

.Blank {
    width: 100px;
    height: 800px;
    float: left;
}

.picschool {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 15px 0px 5px 0px;
}



.schooltxt1 {
    padding: 50px 80px;
    margin: 30px 10px;
}

.schooltxt2 {
    padding: 50px 80px;
    margin: 40px 10px;
}

.schooltxt3 {
    padding: 50px 80px;
    margin: 35px 10px;
}

.schooltxt4 {
    padding: 50px 80px;
    margin: 20px 10px;
}

.aside1 {
    font-family: '標楷體';
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #818C9F;
    padding: 7px;
    border-radius: 20px;
    position: fixed;
    left: 91%;
    top: 35%;
    width: 100px;
}

.aside2 {
    font-family: '標楷體';
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #818C9F;
    padding: 7px;
    border-radius: 20px;
    position: fixed;
    left: 91%;
    top: 45%;
    width: 100px;
}

.aside3 {
    font-family: '標楷體';
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #818C9F;
    padding: 7px;
    border-radius: 20px;
    position: fixed;
    left: 91%;
    top: 55%;
    width: 100px;
}

.aside4 {
    font-family: '標楷體';
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #818C9F;
    padding: 7px;
    border-radius: 20px;
    position: fixed;
    left: 91%;
    top: 65%;
    width: 100px;
}

footer {
    clear: both;
    background-color: #757F91;
    text-align: center;
    color: #FEEAFA;
    padding: 15px;
}

.gotop {
    position: fixed;
    z-index: 90;
    right: 5%;
    bottom: 40px;
    display: none;
    width: 60px;
    height: 60px;
    color: white;
    background: #CBC0D3;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}